@using System.Data.SqlTypes
@model Wunderlist.WebUI.Models.RegistrationUserModel

@{
    ViewBag.Title = "Singin";
}

@section Body
{
    <div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
            <div class="logo"></div>
        </div>
    </div>
    @if (!string.IsNullOrEmpty(@ViewBag.ErrorMessage))
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-9 col-sm-offset-2">
                <div class="alert alert-danger singin-error-message">
                    @ViewBag.ErrorMessage
                </div>
            </div>
        </div>
    }
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                @using (Html.BeginForm("Singin", "User", FormMethod.Post, new {@class = "singin"}))
                {
                    @Html.ValidationSummary(true)
                    @Html.AntiForgeryToken()

                    <div class="left-inner-addon">
                        <span><img class="icon" src="/Content/icons/email.png" /></span>
                        @Html.TextBoxFor(
                            u => u.Email,
                            new
                            {
                                @class = "form-control input-email",
                                placeholder = "Электронная почта",
                                type = "email",
                                title = "Введите действительный адрес электронной почты",
                                required = "reauired",
                                pattern = @"^[^\s@＠=]+[@|＠][^\.\s@＠]+(\.[^\.\s@＠]+)+$"
                            })
                    </div>
                    <div class="left-inner-addon">
                        <span><img class="icon" src="/Content/icons/password.png" /></span>
                        @Html.PasswordFor(
                            u => u.Password,
                            new
                            {
                                @class = "form-control input-password",
                                placeholder = "Пароль",
                                required = "required",
                                pattern = ".{8,}",
                                title = "Пароль должен содержать не меньше 8 символов."
                            })
                    </div>
                    <div class="form-submit-block">
                        <input type="submit" class="btn btn-info btn-lg" value="Вход"/>
                    </div>
                }
                <div class="link">
                    Нет учетной записи?
                    <a href="@Url.Action("Singup")">Создать учетную запись</a>
                </div>
            </div>
        </div>
    </div>
}
